body {
	@include pxToRem("font-size", 18, $wellyFontBase);
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica,
		Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
