/* Bloque para indentificar las fuentes del proyecto */

/* 

@font-face {
	font-family: 'nombre_de_la_fuente';
	src: url('/assets/fonts/folder_fonts/file_fonts.woff') format('woff'),
	url('/assets/fonts/folder_fonts/file_fonts.woff2') format('woff2'),;
	font-style: "normal";
	font-weight: 400;
	font-display: swap;
} 

*/
